<!doctype html>
<html>
 <head>
   <meta charset="UTF-8" />
   <title>Text-to-911 Prototype</title>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="http://underscorejs.org/underscore.js"></script>
 </head>

<body>
<div align=center>
<h2>Text Messages Received @ Prospect</h2>
</div>

  <table class="table table-bordered">
    <tr>
      <th>Message</th>
      <th>Reply</th>
      <th>Sender Phone Number</th>
      <th>Time Received</th>
      <th>Message ID</th>
    </tr>

    <div id="messages">
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.body %></td>
          <td><% if message.reply %>
              <%= message.reply.body %>
              <% else %>
              <%= render :partial => 'replies/form', locals: { message_id: message.id } %>
              <% end %>
          </td>
          <td><%= message.phone_number %></td>
          <td><%= message.created_at %></td>
          <td><%= message.id %></td>
        </tr>
      <% end %>
    </div>

    <script type="text/javascript">
    $(document).ready(
        function() {
          setInterval(function() {
              var isEmpty = function(textArea) {return $(textArea).val() === ""};
              var textBoxes = $('textarea');

              if (_.every(textBoxes, isEmpty)) {
              location.reload();
              }
          }, 10000);
      });
    </script>
  </body>
</table>



