<!doctype html>
<html>
 <head>
   <meta charset="UTF-8" />
   <title>Text-to-911 Prototype</title>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 </head>

<body>
<h2>Text Messages Received</h2>

  <table class="table table-bordered">
    <tr>
      <th>Message</th>
      <th>Reply</th>
      <th>Sender Phone Number</th>
      <th>Time Received</th>
      <th>Message ID</th>
    </tr>

    <div id="messages">
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.body %></td>
          <td><% if message.reply %>
              <%= message.reply.body %>
              <% else %>
              <%= render :partial => 'replies/form', locals: { message_id: message.id } %>
              <% end %>
          </td>
          <td><%= message.phone_number %></td>
          <td><%= message.created_at %></td>
          <td><%= message.id %></td>
        </tr>
      <% end %>
    </div>

    <script type="text/javascript">
    $(document).ready(
        function() {
          setInterval(function() {
              var randomnumber = Math.floor(Math.random() * 100);
              $('#messages').text(
                      'I am getting refreshed every 3 seconds..! Random Number ==> '
                              + randomnumber);
                      // or do refresh timestamp?
              // make a web request /new_messages after timestamp
              // have it watch if reply text has been clicked on/on focus so it
              // won't refresh if someone is writing a text
              // make a web request /messages.json
              //
          }, 3000);
      });
    </script>
  </body>
</table>



