<h2>Text Messages Received</h2>

<table class="table table-bordered">
  <tr>
    <th>Message Body</th>
    <th>Reply</th>
    <th>Sender Phone Number</th>
    <th>Time Received</th>
    <th>Message ID</th>
  </tr>

  <% @messages.each do |message| %>
    <tr>
      <td><%= message.body %></td>
      <td><% if message.reply %>
          <%= message.reply.body %>
          <% else %>
          <%= render :partial => 'replies/form', locals: {message_id: message.id} %>
          <% end %>
      </td>
      <td><%= message.phone_number %></td>
      <td><%= message.created_at %></td>
      <td><%= message.id %></td>
    </tr>
  <% end %>
</table>



